body {
    background: black;
}

.grid {
    width: 400px;
    height: 400px;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    border-style: solid;
    background: white;
}

.grid div {
    width: 40px;
    height: 40px;
}

.snake {
    background-color: blue;
}

.apple {
    background-color: purple;
}

.headline {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.scoreBoard {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    font-size: 1.2rem;
}

.gameBoard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.start {
    padding: 5px;
    font-size: 1rem;
}

.score {
    margin-left: 10px;
    color: white;
}